<!DOCTYPE html>
<html lang="uk">
  <head>
    {{>partials/colors title="Color Switch"}}
  </head>
  <body>
     <button type="button" class="btn" data-action="start">Start</button>
    <button type="button" class="btn" data-action="stop">Stop</button>
  </body>
</html>
